<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<section>
    <div class="container" style="margin-top: 20px;">
        <div class="row"> <!-- Use Bootstrap's grid system here -->
            {{ range $index, $page := sort .Data.Pages "Params.eventDate" "desc" }}
            <div class="col-sm-6 col-md-4 col-lg-3"> <!-- Wrap each card in a 'col' div -->
                <div class="card mb-4">
                    <img class="card-img-top img-fluid" src="{{ .Params.image | absURL}}" alt="{{ $page.Title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ .Title }}</h5>
                        <p class="card-author">{{ .Params.With }}</p>
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-primary align-items-center justify-content-center" type="button" data-toggle="collapse" data-target="#collapse{{ $page.File.BaseFileName }}" aria-expanded="false" aria-controls="collapse{{ $page.File.BaseFileName }}">
                            <!-- <span>See More</span> -->
                            <i class="fas fa-arrow-down ms-2"></i>
                        </button>
                        <div class="row">
                            <div class="col-12">
                                <div class="collapse" id="collapse{{ $page.File.BaseFileName }}" data-parent=".accordion"> <!-- Add the 'data-parent' attribute here -->
                                    <div class="card card-body">
                                        <p class="mb-0"> {{ .Params.eventDate }}  {{ .Content }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>